<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>printDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D17A2A0D1CCF3D3800B0ADA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D17A2A261CCF3D3900B0ADA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D17A2A311CCF3D3900B0ADA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
